form {
    align-items: center;
    margin-bottom: 20px;
    min-width: 25em;
    min-height: 20em;
  }
  
  input[type="text"],
  input[type="date"] {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .addEventButton{
    text-align: center; 
    width:100%; 
    padding:0;
  }
  .addEventButton > button{
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(56, 127, 151, 0.75);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: right;
    margin-top: 2em;
    margin-bottom: 2em;
  }


  .addEventButton > button:hover{
    background: #d8d8d8;
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }