/* calendar.module.css */

form {
  align-items: center;
  min-width: 25em;
  min-height: 20em;
  background: #fff;
  /* Match background to login form */
  padding: 2em;
  /* Add padding for spacing */
  border-radius: 8px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="date"],
input[type="number"] {
  margin-right: 10px;
  padding: 8px;
  width: calc(100% - 20px);
  /* Adjust width to fit container */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
  border-color: #222;
  /* Match focus border color */
}

.addEventButton {
  text-align: center;
  width: 100%;
  padding: 0;
  margin-top: 2em;
  /* Adjust margin for spacing */
  margin-bottom: 2em;
  /* Adjust margin for spacing */
}

.addEventButton>button {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(56, 127, 151, 0.75);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.addEventButton>button:hover {
  background: #d8d8d8;
  transform: translateY(-5px);
}