body {
    color: rgb(0, 0, 0);
}

.volEventsDisplay {
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 65px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.volEventsDisplay h1 {
    text-align: center;
    font-weight: 300;
    padding-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Rubik', sans-serif;
}

.table th,
.table td {
    padding: 12px;
    border-bottom: 1px solid #747474;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.viewButton {
    background: #e8e9ec;
    color: #777;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s;
}

.viewButton:hover {
    background: #d8d8d8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.closeButton {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.closeButton:hover {
    background-color: #e53e3e;
}


