/* Container and Main Structure */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f9fafb;
    padding: 20px;
    box-sizing: border-box;
}

/* About Us Section */
.aboutUsContainer {
    background-color: #ffffff;
    flex: 3;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.aboutUsContainer>h1 {
    font-size: 2.5em;
    color: #005b47;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.aboutUsContainer>p {
    font-size: 1.1em;
    color: #000000;
    line-height: 1.8;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Images Section */
.picturesContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.picturesContainer img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.picturesContainer img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .aboutUsContainer {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .aboutUsContainer {
        padding: 20px;
    }

    .picturesContainer {
        margin-top: 20px;
        padding: 15px;
    }
}