.applicationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e3c6;
}

.title {
    font-size: 24px;
    color: #014421;
    font-weight: bold;
}

.applicationTable {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.applicationTable th,
.applicationTable td {
    padding: 8px;
    text-align: left;
}

.applicationTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
}

.applicationTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.applicationTable tr:hover {
    background-color: #ddd;
}

.applicationTable button {
    width: 48%;
    margin-left: 2px;
    padding: 8px 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    justify-content: center;
}

.viewButton {
    background-color: rgba(56, 127, 151, 0.75);
    color: #fff;
}

.viewButton:hover {
    background-color: #305ac3;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.cancelButton {
    background-color: #ccc;
    color: black;
}

.cancelButton:hover {
    background-color: #999;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.filterContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.filterContainer label {
    margin-right: 10px;
    font-size: 18px;
    color: #014421;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}

.filterSelect {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: "Josefin Sans", sans-serif;
}

.filterSelect:focus {
    outline: none;
    border-color: #305ac3;
}

@media (max-width: 768px) {
    .applicationTable button {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 5px;
    }

    .filterContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .filterContainer label {
        margin-bottom: 5px;
    }

    .filterSelect {
        width: 100%;
    }
}