/* Existing design styles */
.calendarContainer {
  padding: 40px;
  background-color: #e6e3c6;
  font-family: "Josefin Sans", sans-serif;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
}

.legend {
  display: flex;
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.legendSpan {
  margin-left: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.colorBox {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border-radius: 100%;
}

:global(.fc table) {
  border: 1px solid #014421;
}

:global(.fc table){
  border: 1px solid #014421;
}

:global(.fc-event-title){
  font-family: "Josefin Sans", sans-serif;
  text-wrap: wrap;
}
/* Mobile view customizations */
@media (max-width: 768px) {
  .calendarContainer {
    padding: 10px;
    width: auto;
  }

  .legend {
    flex-wrap: wrap;
  }
  .colorBox {
    width: 12px;
    height: 12px;
  }

  .legendSpan {
    font-size: 0.8rem;
  }


  :global(.fc .fc-toolbar.fc-header-toolbar) {
    display: flex !important;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
  }

  :global(.fc){
    font-size: 0.8rem;
    font-family: "Josefin Sans", sans-serif;
  }

  :global(.fc-event-title) {
    text-wrap: nowrap;
  }
}