.calendarContainer {
  padding:40px;
  background-color: #e6e3c6;
  font-family: "Josefin Sans", sans-serif;
}

/* Example CSS for loading indicator */
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  /* Ensure it’s on top of other content */
}

.legend {
  display: flex;
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.legendSpan {
  margin-left: 0.5rem;
  font-family: "Josefin Sans", sans-serif;

}

.colorBox {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border-radius: 100%;
}