.eventCard {
    background: #e6e3c6;
    width: 500px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    padding: 35px;
}

.eventCard h1 {
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 24px;
    text-align: center;
    font-weight: 300;
}

.eventCard h2 {
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 22px;
}

.eventCard p {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin: 10px 0;
    word-wrap: break-word;
    /* Ensures long text wraps nicely */
}

.eventCard p:first-of-type {
    margin-top: 20px;
}

.eventCard p:last-of-type {
    margin-bottom: 20px;
}

.eventCardButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.eventCardButtons
button {
    padding: 8px 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.applyButton {
    background-color: rgba(56, 127, 151, 0.75);
    color: #fff;
}

.applyButton:hover {
    background-color: #305ac3;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.closeButton {
    background-color: #ccc;
    color: black;
}

.closeButton:hover {
    background-color: #999;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}