.box {
    padding: 1.5% 1.5%;
    background: #014421;
    ;
    bottom: 0;
    height: 24.5em;

}




.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    /* background: red; */
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 1000px) {
    .row {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.footerLink {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
}

.footerLink:hover {
    box-shadow: 0 0.4rem 0 -0.2rem #305ac3;
    cursor: pointer;
}

.footerLink>svg {
    height: 25px;
}

.heading {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: bold;
}