.footer {
    padding: 20px;
    background: #014421;
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.imageLogoFooter {
    padding: 20px;
}

.primary {
    background: #014421;
}

.column {
    flex: 1;
}

.about {
    max-width: 300px;
}

.footerLink {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

.footerLink:hover {
    box-shadow: 0 0.4rem 0 -0.2rem #305ac3;
    cursor: pointer;
}

.social i {
    margin-right: 10px;
    font-size: 24px;
    color: #fff;
}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}


.footerMenu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.footerMenu a {
    color: #fff;
    text-decoration: none;
}

.footerMenu a:hover {
    text-decoration: underline;
}
.termsAndConText{
    text-align: center;
}
.termsAndConText a{
    color:white;
    text-decoration: underline;
}
.termsAndConText a:hover{
    transition-duration: 0.4s;
    box-shadow: 0 2px 3.5px #305ac3;
}

@media only screen and (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .imageLogoFooter {
        display: none;
    }

    .column {
        margin-right: 70px;
        max-width: 100%;
    }

    .footerLink {
        font-size: 18px;
    }

    .social i {
        font-size: 20px;
    }
    .links{
        justify-content: center;
    }
}