

.loginForm {
    background: #fff;
    width: 500px;
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Josefin Sans', sans-serif;
}

.loginForm h1 {
    padding: 35px 35px 0 35px;
    text-align: center;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.loginForm .content {
    padding: 35px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 5%;
    font-family: 'Josefin Sans', sans-serif;
}

.loginForm .inputField {
    padding: 12px 5px;
}

.loginForm .inputField input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    transition: all .2s;
    font-family: 'Josefin Sans', sans-serif;
}

.loginForm .inputField input::placeholder {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.loginForm .inputField input:focus {
    border-color: #222;
}

.loginForm .inputField:hover {
    transition: all 0.3s ease;
}

.loginForm a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.loginForm .action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.loginForm .action button {
    padding: 15px 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(56, 127, 151, 0.75);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    outline: 0;
    letter-spacing: 0.2px;
}

.loginForm .action button:hover {
    background-color: #305ac3;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.loginForm .action button:nth-child(2) {
    background-color: rgba(16, 38, 46, 0.75);
    color: #fff;
}

.loginForm .action button:nth-child(2):hover {
    background: #3c4d6d;
}

.link {
   font-family: 'Josefin Sans', sans-serif;
}
@media (max-width:768px){
    .loginForm{
        width:425px;
    }
}
.error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5em;
    font-family: 'Josefin Sans', sans-serif;
}