.navbarContainer {
    background-color: #014421;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 10em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}

#navbarTitle {
    text-align: center;
    z-index: 4;
    position: relative;
}

.navbarButtons {
    list-style: none;
    font-size: 24px;
    display: flex;
}

.navbarButtons>li {
    margin-right: 3.5em;
    cursor: pointer;
}

.navbarLoginButton {
    display: flex;
    
}

.loginButton {
    padding: 15px 30px;
    margin-left:250px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(56, 127, 151, 0.75);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.loginButton:hover {
    background-color: #305ac3;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
.navbarButtons>button:hover,
.navbarButtons>li:hover {
    border-color: #1A1A1A;
    top: -0.16em;
    padding: 3px;
    transition: padding .5s, top .35s, box-shadow .4s;
    box-shadow: 0 0.4rem 0 -0.2rem #000000;
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.menuButton {
    display: none;
    cursor: pointer;
    font-size: 2em;
    padding: 0.5em;
    z-index: 2;
}

.drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: #014421;
    color: rgb(255, 255, 255);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 2em;
    z-index: 3;
}

.drawer.open {
    right: 0;
}

.drawerButtons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.drawerButtons>li,
.drawerButtons>button {
    font-size: 24px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbarContainer {
        height: auto;
        justify-content: space-between;
    }

    #navbarTitle {
        margin-left: 0;
        margin-top: 1em;
        text-align: center;
        flex: 1;
    }

    .navbarButtons {
        display: none;
    }

    .loginButton {
        display: none;
    }

    .menuButton {
        display: block;

        left: 1em;
        top: 1em;
    }
}