body {
    color: rgb(0, 0, 0);
    font-family: "Josefin Sans", sans-serif;
}

.registerForm {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.registerForm h2 {
    padding: 35px 35px 0 35px;
    text-align: center;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
}

.registerForm .content {
    padding: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5%;
    font-family: "Josefin Sans", sans-serif;
}

.registerForm .inputField {
    padding: 12px 5px;
}

.registerForm .inputField input,
.registerForm .inputField select {
    font-size: 16px;
    display: block;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    transition: all .2s;
}

.registerForm .inputField:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.registerForm .inputField input::-webkit-input-placeholder,
.registerForm .inputField select::-webkit-input-placeholder {
    text-transform: uppercase;
}

.registerForm .inputField input::-moz-placeholder,
.registerForm .inputField select::-moz-placeholder {
    text-transform: uppercase;
}

.registerForm .inputField input:-ms-input-placeholder,
.registerForm .inputField select:-ms-input-placeholder {
    text-transform: uppercase;
}

.registerForm .inputField input::-ms-input-placeholder,
.registerForm .inputField select::-ms-input-placeholder {
    text-transform: uppercase;
}

.registerForm .inputField input::placeholder,
.registerForm .inputField select::placeholder {
    text-transform: uppercase;
}

.registerForm .inputField input:focus,
.registerForm .inputField select:focus {
    border-color: #222;
}

.registerForm .action {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.registerForm .action button {
    width: auto;
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgba(56, 127, 151, 0.75);
    color: #fff;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    outline: 0;
    transition: all 0.3s ease;
    letter-spacing: 0.2px;
}

.registerForm .action button:hover {
    background-color: #305ac3;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
}

.registerForm .action button:nth-child(2) {
    background: #777777;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.registerForm .action button:nth-child(2):hover {
    background: #3c4d6d;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5em;
    font-family: "Josefin Sans", sans-serif;
}