.container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #014421;
    text-align: center;
    padding: 40px;
    background-color: #e6e3c6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 20px;
}

.selectionContainer {
    display: flex;
    justify-content: center;
    column-gap: 5%;
    margin: 20px 0;
    width: 100%;
}

.selectionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #014421;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    background-color: #fff;
}

.selectionBox.selected {
    border-color: #014421;
    background-color: #a4e6c4;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
}

.checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.checkbox.checked {
    background-color: #014421;
    border-color: #014421;
}

.checkbox::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.checkbox.checked::after {
    display: block;
}

.createAccountBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #014421;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createAccountBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.loginLink {
    margin-top: 10px;
}

.loginLink a {
    color: #100e6e;
    text-decoration: none;
    font-weight: 450;
}

.loginLink a:hover {
    text-decoration: underline;
}