.container {
    background: #e6e3c6;
    padding: 0 10%;
}

.volEventsDisplay {
    padding: 20px;
    border-radius: 8px;
}

.volEventsDisplay h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #014421;
}

.description {
    text-align: center;
    font-size: 17px;
    color: black;
}

.activityCard {
    background: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activityCard:hover {
    background: #f1f1f1;
}

.cardContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    ;
}

.cardContent label {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.cardContent p {
    font-family: "Josefin Sans", sans-serif;
    margin: 0 0 10px 0;
    font-size: 20px;
    text-wrap: wrap;
}

.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 40px;
    gap: 5px;
}

.eventImage {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.volButtons {
    gap: 20px;
    justify-content: space-between;

}

.volButtons button {
    padding: 8px 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.applyButton {
    margin-right: 25px;
    background-color: rgba(56, 127, 151, 0.75);
    color: #fff;
}

.applyButton:hover {
    background-color: #305ac3;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.viewButton {
    background-color: #ccc;
    color: black;
}

.viewButton:hover {
    background-color: #999;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination .disabled a {
    pointer-events: none;
    background-color: #ccc;
    color: #666;
    border-color: hsl(0, 0%, 80%);
}

@media (max-width: 859px) {
    .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activityCard {
        width: 300px;
    }
}

@media (min-width: 860px) and (max-width: 1280px) {
    .container {
        padding: auto;
    }

    .activityCard {
        width: 700px;
    }
}